// Font-size 

$_56: 3.5rem;
$_40: 2.5rem;
$_28: 1.75rem;
$_24: 1.5rem;
$_18: 1.125rem;
$_16: 1rem;
$_12: 0.75rem;

// system-colors

$dark: #313037;
$lite_dark: #5B5A62;
$gray: #A8A8A8;

// bacground-colors

$white: white;
$light-gray: #E7E7E7;
$light: #F7F7F7;

// Contextual Colors

$red: #FC857F;

// Tertiary Colors

$blue: #D7E4FD;
$green: #CAEFF0;
$orange: #FEE9E2;
$purple: #F4EEFD;
