li {
    list-style: none;
}


.alone-card {
    &__title {

        h1 {
            text-transform: uppercase;
        }
    }
    &__show-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        div {
            background-color: $blue;
            width: 40%;
            padding: 40px;
            position: relative;
            img {
                display: block;
                margin: auto;
                height: 80%;
                width: 80%;
            }
        }
        .heart-dislike {
            background-color: $dark;
            background-image: url(../../components/components-shared/icons/heart1.svg);
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            right: 0;
            width: 35px;
            height: 35px;
        }

        ul {
            width: 40%;
            border-top: 2px solid $light-gray;
            padding: 40px 0 0 0;
            li {
                display: flex;
                justify-content: space-between;
                &:first-child {
                    margin-bottom: 45px;
                }
                .one-price {
                    font-size: $_28;
                    font-weight: 600;
                }
                .this-book_info {
                    color: $gray;
                    font-size: $_18;
                    line-height: 35px;
                }
                .this-book_value {
                    font-size: $_18;
                    line-height: 35px;
                    font-weight: 600;
                }
                .select {
                    font-size: $_18;
                    font-weight: 500;
                    padding: 25px 0;
                    border: none;
                    margin-bottom: 35px;
                    option {
                        font-size: $_18;
                        line-height: 24px;
                    }
                }
                button {
                    width: 100%;
                    line-height: 55px;
                    color: $white;
                    background-color: $dark;
                    text-transform: uppercase;
                    margin-bottom: 35px;
                }
                .prewiew {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    &__description p {
        display: none;
    }
    .alone-books_popaps {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-bottom: 40px;
        border-bottom: 2px solid $light-gray;
        li {
            width: 15%;
            line-height: 60px;
            text-align: center;
            color: $gray;
            &:hover {
                color: $dark;
                border-bottom: 2px solid $dark;
            }
        }
    }

}

