.search-books {
    h1 {
        text-transform: uppercase;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .book-wrap {
            padding: 10px;
            div {
                background-color: $blue;
                &:hover {
                    background-color: $orange;
                }
                &:active {
                    background-color: $purple;
                }
                img {
                    display: block;
                    margin: auto;
                    height: 100%;
                }
            } 
            h3 {
                text-transform: uppercase;
            }
            p {
                color: rgba(32, 31, 31, 0.3);
            }
            span {
                font-weight: 500;
            }
        }
    }
}