.your-cart {
    button {
        &:hover {
            transform: scale(1.5);
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        border-bottom: 2px solid $light-gray;
    }
    &__image {
        background-color: $blue;
        margin-bottom: 30px;
        img {
            height: 200px;
            width: 170px;
        }
    }
    &__info {
        width: 40%;
        li {
            color: $gray;
            font-size: $_18;
            line-height: 35px;
            &:first-child {
                color: $dark;
                font-size: $_24;
                font-weight: 600;
                line-height: 50px;
            }
            &:last-child {
                color: $dark;
                padding-top: 30px;
                button {
                    width: 30px;
                    height: 30px;
                    font-size: $_18;
                    margin: 0 25px 0 25px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:hover {
                        border: 2px solid $light-gray;
                        border-radius: 10px;
                    }
                }
            }
        }
    }
    &__price {
        span {
            font-size: $_28;
            font-weight: 600;
        }
    }
    &__total {
        max-width: 200px;
        div {
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            span {
                text-transform: uppercase;
                font-size: $_24;
                font-weight: 600;
            }
        }
        button {
            background-color: $dark;
            color: $white;
            text-transform: uppercase;
            font-size: $_18;
            width: 100%;
            line-height: 30px;
        }
    }
}