
.ant-pagination {
    display: flex;
    justify-content: center;
    :nth-child(1) {
        flex-grow: 1;
    }
    li:last-child {
        display: none;
    }
    li:nth-last-child(2) {
        flex-grow: 1;
    }
}

