.pagination {
    &__wrapper {
        padding: 40px 0 40px 0;
        border-top: 2px solid $light-gray;
        display: grid;
        grid-template-columns: 45% 3% 3% 3% 45%;
        :nth-child(2),
        :nth-child(3),
        :nth-child(4) {
            margin: 0 4px;
        }

        :last-child {
            text-align: right;
        }
    }
    button {
        font-size: $_24;
        text-align: center;
        &:hover {
            background-color: $blue;
            border-radius: 5px;
        }
    }
    .activ-a {
        background-color: $blue;
    }
    @media (max-width: 600px) {
        &__wrapper {
            padding: 25px 0 25px 0;
            grid-template-columns: 40% 6% 6% 6% 40%;
        }
        button {
            font-size: $_18;
            &:hover {
                background-color: $blue;
                border-radius: 5px;
            }
        }
    }
}

